RewriteEngine on

RewriteCond %{HTTP_HOST} ^lagrannacion.com.mx [NC]
RewriteRule ^(.*)$ http://www.lagrannacion.com.mx/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php